<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
    <script src="/home.js"></script>
    <title>Recept</title>
</head>
<body>
<header class="top">
    <a href="/">
        #set($color = "#ffffff")
        #parse("kastrull.vm")
        <span class="title">Recept</span>
    </a>
</header>

<main>
    <section>
        <h1>$titel</h1>
        <p>$!beskrivning</p>

        <h2>Ingredienser</h2>
        <p>
        <ul>
            #foreach($ingrediens in $ingredienser)
                <li>
                    <span>$ingrediens.antal</span>
                    <span>$ingrediens.enhet</span>
                    <span>$ingrediens.namn</span>
                </li>
            #end
        </ul>
        </p>
        <h2>Instruktion</h2>
        <p>
        $instruktion
        </p>
    </section>
</main>
</body>
</html>